body {
  background-color: #FFF;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

button{
  outline: none;
  border: 0;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: #2D2264;
  font-weight: bold;
}
a:hover{
  text-decoration: none;
  color: #2D2264;
}

/* ------- HEADER ------- */

.header-container{
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.header-container > img{
  width: 30%;
}

.header-title{
  margin-left: 4%;
}

.header-title > h1{
  font-size: 34pt;
  color: #2D2264;
  font-weight: 800;
  text-transform: uppercase;
}

.header-title > hr{
  border: 6px solid #DF5A73;
  border-radius: 20px;
  width: 120%;
}

hr.end-header{
  margin-top: 50px;
  border: 13px solid #CBD0CF;
}

/* ------- FIM HEADER ------- */


/* ------- CONTEÚDO 1 ------- */

#conteudo1, #conteudo2, #conteudo3, #conteudo5{
  padding-top: 0;
  display: flex;
  align-items: center;
}

#conteudo6, #conteudo8, #conteudo9, #conteudo10, #testeFinal{
  display: flex;
  flex-direction: column;
}


.conteudo-content{
  width: 60%;
}

.conteudo-content > h3, .conteudo-content9 > h3{
  text-transform: uppercase;
  color: #DF5A73;
  font-weight: 800;
  font-size: 36px;
}

.next-button{
  width: 20%;
  height: 50px;
  margin-left: 10%;
  border: 1px solid #DF5A73;
  background-color: #fff;
  text-transform: uppercase;
  color: #2D2264;
  font-weight: 800;
  font-size: 27px;
}

.next-button2{
  width: 40%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #DF5A73;
  background-color: #fff;
  text-transform: uppercase;
  color: #2D2264;
  font-weight: 800;
  font-size: 27px;
}

.next-button3{
  width: 20%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #DF5A73;
  background-color: #fff;
  text-transform: uppercase;
  color: #2D2264;
  font-weight: 800;
  font-size: 27px;
}

.button-container{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.imagem-conteudo-container{
  width: 50%;
  margin-left: 10%;
}

.imagem-conteudo-container > img{
  width: 100%;
}

.grafico-img{
  width: 100%;
  position: relative;
  bottom: 150px;
}

.conteudo8-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  justify-content: center;
}
.conteudo8-container:nth-child(2), .conteudo8-container:nth-child(4){
  margin-top: 50px;
  margin-left: -120px;
}
.conteudo8-container:nth-child(3){
  margin-top: 70px;
}

#imgConteudo8-2{
  width:350px;
  height:200px;
  background-size:cover; 
  background-position:center center; 
  background-repeat:no-repeat; 
  background-image:url('/assets/primario.jpeg');
}
#imgConteudo8-3{
  width:350px;
  height:200px;
  background-size:cover; 
  background-position:center center; 
  background-repeat:no-repeat; 
  background-image:url('/assets/secundario.jpeg');
  margin-left: -60px;
}
#imgConteudo8-4{
  width:350px;
  height:200px;
  background-size:cover; 
  background-position:center center; 
  background-repeat:no-repeat; 
  background-image:url('/assets/terciário.jpeg');
}

.content-conteudo8{
  width: 80%;
}

.conteudo-content9{
  width: 85%;
}

.conteudo9-container{
  display: flex;
}

.bloco-esquerda, .bloco-direita{
  display: flex;
  flex-direction: column;
}

.bloco-direita{
  margin-left: 50px;
}

.bloco-item{
  display: flex;
  margin-top: 5%;
}

.bloco-num{
  width: 50px;
  height: 50px;
  background-color: #DF5A73;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.bloco-content{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  text-align: left;
  width: 450px;
}

.bloco-title{
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 800;
  color: #2D2264;
}

.bloco-num2{
  width: 50px;
  height: 50px;
  background-color: #2D2264;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.bloco-title2{
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 800;
  color: #DF5A73;
}

.fonte-span{
  font-style: italic;
  font-size: 14px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}

hr.teste-hr{
  margin-top: 25px;
  border: 1px solid #CBD0CF;
  width: 30%;
}

.options-container{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.teste-container{
  margin-top: 50px;
}

.teste-item{
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
.teste-item:not(:first-child){
  margin-top: 15px;
}

.teste-inputs-container{
  display: flex;
  gap: 25px;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.teste-inputs-item{
  display: flex;
  align-items: center;
  gap: 10px;
}

.teste-inputs-item > input{
  cursor: pointer;
  width: 22px;
  height: 22px;
  position: relative;
  top: -5px;
}

.teste-option-title{
  width: 70%;
}

.teste-option-title > span{
  font-weight: bold;
}

.button-teste{
  margin-top: 50px;
  background-color: #DF5A73;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  width: 24%;
  height: 42px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}

.devolucao-teste{
  margin-top: 50px;
}

.resultadoTitle{
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  display: block;
  margin-bottom: 25px;
}

.pontuacaoTeste{
  font-size: 24px;
  font-weight: bold;
  display: block;
  margin-bottom: 25px;
}

.pontuacaoTeste > span{
  color: #2D2264;
}

.fonte-resultado{
  display: block;
  margin-top: 30px;
}